nz-card {
  width: 100%;
}


.mid-button {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

.card-content {
  margin-top: 10px;
}

.card-selected {
  border: 1px solid;
  padding: 23px;
}
